
<h1>DIAGNOSTIC</h1>
<br> <br>

<p><b><%= @h[@profile.sexe.to_sym] %>, Probabilité: <%= session[:sexes][0]["value"] %></b></p>
<p><%= @h[session[:sexes][1]["name"].to_sym] %>, Probabilité: <%= session[:sexes][1]["value"] %></p>

<br>

<p> <b> <%= @profile.age %> ans, Probabilité: <%= session[:ages][0]["value"] %> </b></p>
<p> <%= session[:ages][1]["name"] %> ans, Probabilité: <%= session[:ages][1]["value"] %></p>
<p><%= session[:ages][2]["name"] %> ans, Probabilité: <%= session[:ages][2]["value"] %></p>

<br>

<p><b><%= @h[@profile.ethnicity.to_sym] %>, Probabilité: <%= session[:ethnicities][0]["value"] %></b></p>
<p><%= @h[session[:ethnicities][1]["name"].to_sym] %>, Probabilité: <%= session[:ethnicities][1]["value"] %></p>
<p><%= @h[session[:ethnicities][2]["name"].to_sym] %>, Probabilité: <%= session[:ethnicities][2]["value"] %></p>

<br><br>

<%= simple_form_for @profile, :url => profile_complete_path, :method => :patch  do |f| %>
<%= f.input :body_zone, collection: ['Visage','Corps','Mains','Buste'], :input_html => { :class => 'select2' } %>
<%= f.input :skin_type, collection: ['Peau sèche','Peau normale','Peau grasse ','Peau mature'], :input_html => { :class => 'select2' }  %>

<%= f.button :submit, class: 'btn-yours' %>
<% end %>


