<div class="container-fluid full-height-container">
  <div class="row non-padded full-height">
    <div class="col-xs-12 col-sm-6 non-padded full-height">
      <div class="left-card">
        <div class="row non-padded full-height">
          <div class="col-xs-12 col-sm-6 non-padded full-height">
            <div class="product-star-picture">
              <%= image_tag @product.photo %>
            </div>
          </div>
          <!-- #E7AD42 -->
          <div class="col-xs-12 col-sm-6 non-padded full-height">
            <div class="product-star-content">
              <h3 style="color:#F9C73E;"><b>SOIN DU MOMENT</b></h3>
              <br><br>
              <h3 id="title-star-product"><%= @product.name.upcase %></h3>
              <br>
              <p><%= @product.description.truncate(70) %></p>
              <br>
               <p><%= @product.price %> €</p>
              <br>
              <%= link_to 'Découvrir', @product, class:"btn-medium" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 non-padded full-height">
      <div class="right-card home-background">
        <div class="right-card-content">
          <h1>NOUVEAUTÉ</h1>
          <p>Trouvez votre soin adapté grâce à notre diagnostic. <br> Ajoutez votre plus beau selfie.<br><br></p>
          <%= simple_form_for @profile, :url => profile_photo_path, :method => :post  do |f| %>
            <%= f.input :photo, label: "Charger ma photo" %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.button :submit, "C'est parti !", class: 'btn-medium' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



