<h1>Ma prescription beauté personnalisée</h1>
<p>Vous êtes  un(e) <b><%= @h[@profile.sexe.to_sym] %></b> de <b><%= @profile.age %></b> ans
<p>Votre ethnicité : <b><%= @h[@profile.ethnicity.to_sym] %></b></p>
<p> Votre type de peau : <b><%= @profile.skin_type %></b></p>
<p> Vous recherchez un soin pour votre  <b><%= @profile.body_zone %></b></p>

<br><br>

<h1>Mon soin</h1>
<% @products.each do |product| %>
<%= image_tag product.photo %>
<%= product.name %>
<%= product.description %>
<%= product.price %> €
<% end %>




