<div class="container-fluid full-height-container">
  <div class="row non-padded full-height">
    <div class="col-xs-12 col-sm-6 non-padded full-height">
      <div class="left-card left-card-result">
      <% @products.each do |product| %>
        <div class="row non-padded almost-full-height">
          <div class="col-xs-12 col-sm-6 non-padded full-height">
            <div class="result-star-picture">
            <%= image_tag product.photo %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 non-padded full-height">
            <div class="product-star-content">
            <h3 id="title-star-product"><%= product.name %></h3>
            <br>
            <p><%= product.price %> €</p>
            <br>
            <%= link_to 'EN SAVOIR PLUS', product, class:"btn-medium" %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 non-padded full-height">
      <div class="right-card">
        <div class="right-card-content diagnostic">
          <h3 id="title-diagnostic">VOICI VOS PRODUITS ADAPTÉS !</h1>
          <p>Votre âge : <%= @profile.age %></p>
          <p>Votre sexe : <%= @h[@profile.sexe.to_sym] %></p>
          <p>Votre ethnicité : <%= @h[@profile.ethnicity.to_sym] %></p>
          <p>Votre type de peau : <%= @profile.skin_type %></p>
          <p>Votre choix de zone du corps: <%= @profile.body_zone %></p>
        </div>
      </div>
    </div>
  </div>
</div>




