<div class="navbar-eveil">
  <div class="navbar-logo">
    <%= link_to root_path do %>
      <%= image_tag "logo1.png", height: 50 %>
    <% end %>
  </div>
  <div class="navbar-menu">
    <div class="navbar-language">
      <%= "Français"  %>
      <%= image_tag "fleche.svg", height: 30 %>
    </div>
    <div class="navbar-links">
      <%= link_to "LA MAISON", root_path, class: "link #{content_for :house_link}"%>
      <%= link_to "NOS PRODUITS", products_path, class: "link #{content_for :products_link}"%>
      <%= link_to "VOTRE DIAGNOSTIC", personnalisation_path, class: "link #{content_for :diag_link}"%>
    </div>
    <div class="navbar-items">
      <%= form_tag products_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control", class: "search",
        placeholder: "Rechercher un soin"%>
      <% end %>
      <%= image_tag "zoom-2.svg", height: 30 %>
      <%= image_tag "single-01.svg", height: 30 %>
      <%= image_tag "cart-simple.svg", height: 30 %>
    </div>
  </div>
</div>
