<div class="navbar-wagon">
  <!-- Logo -->
  <div class= "navbar-wagon-brand">
    <%= link_to root_path do %>
    <%= image_tag "logo2.png", height: 50 %>



  <% end %>
  </div>



  <!-- Right Navigation -->
  <div class="item-navbar">
    <% if user_signed_in? %>
    <!-- Links when logged in -->
    <%= image_tag "zoom-2.svg", height: 30 %>
    <%= image_tag "single-01.svg", height: 30 %>
    <%= image_tag "cart-simple.svg", height: 30 %>
     <% end %>
  </div>




    <!-- Links when logged in -->
    <%= "Français"  %>
    <%= image_tag "fleche.svg", height: 30 %>


  <div class="menu-navbar">
    <%= link_to "NOS PRODUITS", products_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "VOTRE DIAGNOSTIC", "#", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "LA MAISON", "#", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "BLOG", "#", class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
