<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @order.firstname %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @order.adress %>
</p>

<p>
  <strong>City:</strong>
  <%= @order.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @order.zipcode %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @order.comment %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order.product %>
</p>

