<h3 id="products-title"><b>NOS SOINS L'ÉVEIL DU DÉSERT</b></h3>
<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-4">

        <%= link_to(product) do %>
        <div class="epicard box">

            <div class="epicard-content">
              <%= image_tag product.photo, class: "epicard-image" %>
              <div class="product-list-button">
                <button type="button" class="btn-medium">Découvrir</button>
              </div>

            </div>

        </div>
         <% end %>
        <div class="product-description">
          <h4><%= product.name %></h4>
            <p><%= product.price %> €</p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :products_link do %>
  active
<% end %>

