
<div class="col-xs-12 col-sm-7"  >
  <div class="produt-show">
    <%= image_tag @product.photo %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-5" style="padding-top: 100px" >
    <div class="produt-text">
      <h3 ><%= @product.name.upcase %></h3>
      <br>
      <p><%= @product.price %> €</p>
      <br>
      <h4><%= @product.description %></h4>
      <br>
      <h4><%= @product.skin_type %></h4>
      <br>
      <a href="#" class="btn-medium" style="text-align: center; text-decoration: none; margin : 30px; display: flex; justify-content: space-around">Mettre dans le panier</a>
    </div>
  </div>
</div>



