<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>L'Eveil du Désert, les huiles merveilleuses</title>
    <meta name="description" content="Produits issus d'huiles et de beurres végétaux, adaptés à vos besoins. L'éveil du désert personnalise votre routine beauté.">

    <meta property="og:title" content="L'Eveil du Désert' - Les huiles merveilleuses">
    <meta property="og:image" content="/facebook.jpeg">
    <meta property="og:description" content="Produits issus d'huiles et de beurres végétaux, adaptés à vos besoins. L'éveil du désert personnalise votre routine beauté. Comsétiques naturels provenant du bassin méditerranéen qui éveillera votre beauté grâce à ses secrets cachés.">
    <meta property="og:site_name" content="L'Eveil du Désert"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <link rel="shortcut icon"  type="image/x-icon" href="/faviconv2.png"/>
    <link rel="icon" type="image/png" href="/public/faviconv2.png">
   </head>
  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

    <% if File.exist?("app/javascript/packs/#{params[:controller]}/#{params[:action]}.js") %>
      <%= javascript_pack_tag "#{params[:controller]}/#{params[:action]}" %>
    <% end %>
  </body>
</html>
